
body {
  background-color: #ffffff; 
  color: #000000; 
  text-align: center;
}


.App {
  text-align: center;
}

.content {
  margin-top: 60px; 
}

section {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
